body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(206, 6, 43);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
footer{
    background-color: rgb(206, 6, 43);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
footer p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}
nav{
    margin: 0px;
    padding: 0 10%;
    background-color: rgb(206, 6, 43);
    display: flex;
    flex-direction: column;
}
nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
nav ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
nav ul li a{
    flex-grow: 1;
    padding: 25px;
    font-size: 1em;
    font-family: "Calibri","Open Sans",sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a:hover{
    color: #000000;
    background-color: #C8C8C8;
}
main{
    min-height: 570px;
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(206, 6, 43);
    text-align: center;
}
section p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black
}

#start{
    color: white;
    background: #da3131;
    display: flex;
    margin: auto;
    height: 30px;
    width: 66px;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
}
.demineurContainer{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    /*width: 515px;
    height: 281px*/
}
#demineur{
    height: 281px; 
    display: flex;
    background-color: rgb(255, 255, 255);
}

#stats {
    width: 50%;
    margin: 0 auto;
}
#bombe, #timer{
    display: inline-block;
    height: 20px;
    color: green;
    font-family: cursive;
    font-size: xx-large;
}
#timer{
    float:right;
}
.unknow{



    width: 20px;
    height: 20px;

    background-image: url('../capture/normal.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-collapse: collapse;
}
.demineur-play{
    height: 218px;
    width: 100%;
    text-align: center;
}
.grille{
    display: inline-block;
    margin: 0 auto;
}

